html {
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(at bottom right, #1B2735 0%, #090A0F 100%);
}